.container{
    border-radius: 20px;
    width: 400px;
    height: 80vh;
    background-color: black;
}
body {
    width: 100%;
    height: 100vh;
    background-color: rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
}
.upper-data{
   position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    flex-direction: column;

}
.upper-data img{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
 
}
.weather-data{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.location{
    color: black;
}
.temperature{
    color: black;
    font-size: 4em;
    font-weight: 900;
}
.more-info-label{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    align-items: center;
    color: white;
    font-size: larger;
}
.more-info-container{
    flex:1;
    background-color: blueviolet ;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.lower-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}
.info-block{
    width: 50%;
    display: flex;
    flex-direction: row;
}
.info-block-label{
     width: 50%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

}
.info-block-label img{
    width: 1rem;
}
.info-block-label span{
    color: white;
    font-size: 0.8rem;
}
.info-block-value{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    border-radius: 5px;
    height: 60px;
}
.search input{
    background-color:blueviolet;
    color: white;
    outline: none;
    width: 300px;
    border: none;
    border-radius: 20px;
    height: 30px;
    padding-left: 10px;
}
input:focus{
    outline: none;
    
}
input::placeholder{
    color: white;
    opacity: 1;
}
